@import 'hljs';
@import 'btn-scroll-top';

#post {
  article {
    a {
      color: #458ed8;
      word-wrap: break-word;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    strong {
      font-size: 1em;
      padding: 0 2px;
      color: #000;
    }
    p + a {
      margin-top: -20px !important;
    }
    img {
      max-width: 100%;
      display: block;
    }
    p,
    li {
      color: #444;
      line-height: 2em;
      img {
        display: inline-block;
      }
    }
    li {
      line-height: 1.5em;
    }
    & > p,
    & > ul {
      font-size: 1em;
      letter-spacing: 1px;
    }
    h1 {
      &.title {
        color: #000;
        font-size: 1.6em;
      }
    }
    h2 {
      margin-top: 60px;
    }
    h3 {
      margin-top: 50px;
    }
    h2 + h3 {
      margin-top: 0;
    }
    h2 + ul {
      li {
        line-height: 1.2em;
        margin-bottom: 8px;
      }
    }
    h4 {
      color: #444;
    }
    h4 + p,
    h4 + ul {
      margin-top: -15px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
      code {
        font-size: 0.9em;
        color: red;
        word-wrap: break-word;
      }
    }
    .code-caption {
      display: none;
    }
    .splitter {
      border-bottom: 4px dotted #999;
      height: 1em;
      margin: 3em 1em 3.5em 1em;
      text-align: center;
      span {
        background: #fff;
        padding: 0 25px;
        letter-spacing: 1px;
        font-size: 1.1em;
        line-height: 1.8em;
        color: #444;
      }
    }
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 0;
      padding: 1em 10px;
      quotes: '\201C''\201D''\2018''\2019';
      &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
      p {
        display: inline;
      }
    }
    .caption {
      font-size: 0.9em;
      margin-top: 4px;
      text-align: center;
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .table {
      width: 100%;
      th {
        text-align: left;
        border-bottom: 2px solid #666;
      }
      td {
        font-size: 14px;
      }
    }
  }
}
